{% extends 'base.html.twig' %}

{% block title %}wildcircus{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% for home in home %}
        <h1>{{ home.title }}</h1>
        <p>{{ home.paragraph }}</p>
        <img class="home_picture"
        src="../images/{{ home.image }}"
        alt="Grapefruit slice atop a pile of other slices">
    {% endfor %}
</div>

<div class="example-wrapper">
    {% for artist in artist %}
        <h1>{{ artist.name }}</h1>
        <p>{{ artist.description }}</p>
        <img class="home_picture"
        src="../images/{{ artist.image }}"
        alt="Grapefruit slice atop a pile of other slices">
    {% endfor %}
</div>

<div class="example-wrapper">
    {% for expose in expose %}
        <h1>{{ expose.name }}</h1>
        <p>{{ expose.description }}</p>
        <img class="home_picture"
        src="../images/{{ expose.image }}"
        alt="Grapefruit slice atop a pile of other slices">
    {% endfor %}
</div>

{% endblock %}
